%dt Correct predictions:
%dd
	= sprintf("%.2f", model.correct_predictions.to_f) if model.correct_predictions
	= '%'
%dt
	%a{:href => "http://en.wikipedia.org/wiki/Receiver_operating_characteristic", :rel => "external"} Weighted area under ROC:
%dd 
	= sprintf("%.3f", model.weighted_area_under_roc.to_f) if model.weighted_area_under_roc
%dt
	%a{:href => "http://en.wikipedia.org/wiki/Sensitivity_and_specificity", :rel => "external"} Specificity:
%dd= sprintf("%.3f", model.specificity.to_f) if model.specificity
%dt
	%a{:href => "http://en.wikipedia.org/wiki/Sensitivity_and_specificity", :rel => "external"} Sensitivity:
%dd= sprintf("%.3f", model.sensitivity.to_f) if model.sensitivity
%dt
	%a{:href => "http://en.wikipedia.org/wiki/Confusion_matrix", :rel => "external"} Confusion Matrix:
%dd
	%table
		%tr
			%td{:colspan => 2, :rowspan => 2}
			%th{:colspan => 2} Measured
		%tr
			%th{:bgcolor => "#CCD2DC"} active
			%th{:bgcolor => "#CCD2DC"} inactive
		%tr
			%th{:rowspan => 2} Predicted
			%th{:bgcolor => "#CCD2DC"} active
			%td= model.true_positives if model.true_positives
			%td= model.false_positives if model.false_positives
		%tr
			%th{:bgcolor => "#CCD2DC"} inactive
			%td= model.false_negatives if model.false_negatives
			%td= model.true_negatives if model.true_negatives
