%dt Correct predictions:
%dd
  = sprintf("%.2f", model.correct_predictions.to_f) if model.correct_predictions
  = '%'
%dt
  %a{:href => "http://en.wikipedia.org/wiki/Receiver_operating_characteristic", :rel => "external"} Average area under ROC:
%dd 
  - if model.average_area_under_roc
    = sprintf("%.3f", model.average_area_under_roc.to_f)
  - else
    = 'NA'
%dt
  %a{:href => "http://en.wikipedia.org/wiki/Sensitivity_and_specificity", :rel => "external"} Specificity:
%dd
  - if model.specificity
    = sprintf("%.3f", model.specificity.to_f)
  - else
    = 'NA'
%dt
  %a{:href => "http://en.wikipedia.org/wiki/Sensitivity_and_specificity", :rel => "external"} Sensitivity:
%dd
  - if model.sensitivity
    = sprintf("%.3f", model.sensitivity.to_f)
  - else
    = 'NA'
%dt
  %a{:href => "http://en.wikipedia.org/wiki/Confusion_matrix", :rel => "external"} Confusion Matrix:
- if model.confusion_matrix
  - cm = YAML.load(model.confusion_matrix)
  %dd
    %table
      %tr
        %td{:colspan => 2, :rowspan => 2}
        %th{:colspan => (cm.size - 1)} Measured
      %tr
        - (1..cm[0].size-1).each do |i|
          %th{:bgcolor => "#CCD2DC"}
            = cm[0][i]
      %tr
        %th{:rowspan => (cm.size - 1)} Predicted
        - (0..cm[1].size-1).each do |i|
          - if i == 0
            %th{:bgcolor => "#CCD2DC"}
              = cm[1][i]
          - else
            %td= cm[1][i].to_i
      - if cm.size > 2
        - (2..cm.size-1).each do |i|
          %tr
            - (0..cm[i].size-1).each do |j|
              - if j == 0
                %th{:bgcolor => "#CCD2DC"}
                  = cm[i][j]
              - else
                %td= cm[i][j].to_i
