.input

  This service creates 
  %ul
    %li
      = toggle_link("#lazar_description","lazar")
      %em= toggle_link("#classification","classification")
      models and
    %li
      = toggle_link("#lazar_description","lazar")
      %em= toggle_link("#regression","regression")
      models (experimental) 
  from your uploaded datasets. Further modelling algorithms will be added in future versions.
 
  %p
    Please read the 
    = link_to "instructions for creating training datasets", '/help'
    before submitting.


  %form{ :action => url_for('/models'), :method => "post", :enctype => "multipart/form-data" }
    %input{:type => 'hidden', :name => 'subjectid', :id => 'subjectid', :value => session[:subjectid]}
    %fieldset
      %label{:for => 'file'}
        Upload training data in
        = link_to "Excel", '/help'
        or
        = link_to "CSV", '/help'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file', :size => '41'}
    %input{ :type => "submit", :value => "Create model"}
    =# link_to "Cancel", '/create'

  -# %p
    -# or
    -# %a{:href => "echa"} Select a AMBIT dataset
    -# (experimental)

  -# explanations
  = haml :lazar_description, :layout => false
  = haml :classification, :layout => false
  = haml :regression, :layout => false
  = haml :endpoint, :layout => false
  = haml :unit, :layout => false

  .login_notice
     
    - if  session[:username] == "guest"
      You are currently logged in as 
      %b guest
      and your models can be modified or deleted by other guests. Please
      = link_to "log in", "/login"
      with your
      %a{:href => "http://www.opentox.org", :rel => "external"} OpenTox
      account to control your model permissions.
