:javascript
  $(document).ready(function() {
   $(".endpoint_list").click(function() {
     elem  = this.id;
     title = $("label#label_" + elem).html();
     if($("ul#list_" + elem)) {
       if ($("ul#list_" + elem).is(":hidden")) {
         $("ul#list_" + elem).slideDown("slow");
       } else {
         $("ul#list_" + elem).slideUp("slow");
       }
     }
     $("span#endpoint_label").html(title);
   });
   $("#endpoint_list_button").click(function() {
     if ($("div#div_endpoint").is(":hidden")) {
       $("div#div_endpoint").slideDown("slow");
       $("input#endpoint_list_button").val("OK");
       $("input#endpoint_list_button").toggleClass("ok_button", true);
     } else {
       $("div#div_endpoint").slideUp("slow");
       $("input#endpoint_list_button").val("select endpoint");
       $("input#endpoint_list_button").toggleClass("ok_button", false);
     }
   });
  });

.input

  %p
    You will need to upload training data that includes chemical structures and their measured toxicity values, in
    = link_to "Excel", '/help'
    ,
    = link_to "CSV", '/help'
    or
    = link_to "SDF", '/help'
    file formats to create a prediction model. Please read the 
    = link_to "instructions for creating training datasets", '/help'
    before submitting.


  %form{ :action => url_for('/models'), :method => "post", :enctype => "multipart/form-data" }
    %input{:type => 'hidden', :name => 'subjectid', :id => 'subjectid', :value => session[:subjectid]}
    %fieldset
      %label{:for => 'file'}
        Upload training data in
        = link_to "Excel", '/help'
        ,
        = link_to "CSV", '/help'
        or
        = link_to "SDF", '/help'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file', :size => '41'}
      %br
      = haml :model_echa, :layout => false
    %br
    %input{ :type => "submit", :value => "Create model"}
    =# link_to "Cancel", '/create'

  -# %p
    -# or
    -# %a{:href => "echa"} Select a AMBIT dataset
    -# (experimental)

  -# explanations
  = haml :lazar_description, :layout => false
  = haml :classification, :layout => false
  = haml :regression, :layout => false
  = haml :endpoint, :layout => false
  = haml :unit, :layout => false

  %p
    This service creates and validates new
    %em= toggle_link("#classification","classification")
    and
    %em= toggle_link("#regression","regression")
    structure-activity models from your experimental data. The models can be used to predict toxicity of new chemicals (e.g. for 
    %a{:href => "http://ec.europa.eu/environment/chemicals/reach/reach_intro.htm", :rel => "external"} REACH
    purposes) and to reduce the need for animal testing.  The following methods are currently available:
  %ul
    %li
      = toggle_link("#lazar_description","lazar")
      %em= toggle_link("#classification","classification")
      models and
    %li
      = toggle_link("#lazar_description","lazar")
      %em= toggle_link("#regression","regression")
      models (experimental)
  %p
    Further modelling algorithms may be added in future versions.

  .login_notice
     
    - if  session[:username] == "guest"
      You are currently logged in as 
      %b guest
      and your models can be modified or deleted by other guests. Please
      = link_to "log in", "/login"
      with your
      %a{:href => "http://www.opentox.org", :rel => "external"} OpenTox
      account to control your model permissions.
