:javascript
  $(document).ready(function() {
   $(".endpoint_list").click(function() {
     elem  = this.id;
     title = $("label#label_" + elem).html();
     if($("ul#list_" + elem)) {
       if ($("ul#list_" + elem).is(":hidden")) {
         $("ul#list_" + elem).slideDown("slow");
       } else {
         $("ul#list_" + elem).slideUp("slow");
       }
     }
     $("span#endpoint_label").html(title);
   });
   $("#endpoint_list_button").click(function() {
     if ($("div#div_endpoint").is(":hidden")) {
       $("div#div_endpoint").slideDown("slow");
       $("input#endpoint_list_button").val("Hide");
       $("input#endpoint_list_button").toggleClass("ok_button", true);
     } else {
       $("div#div_endpoint").slideUp("slow");
       $("input#endpoint_list_button").val("Select endpoint");
       $("input#endpoint_list_button").toggleClass("ok_button", false);
     }
   });
  });

.input

  .notice
    %h3 DEPRECATION NOTICE
    During the last months we have added a lot of capabilities and algorithms to our framework and tested them with extensive model building and validation. We finally came to the conclusion that the creation of good models still requires a lot of human intervention and that we cannot recommend a simple 1-click interface as in the current ToxCreate version.

    %br
      Until we have implemented an expert GUI interface you have the following options to construct models (
      %a{:href => "http://www.maunz.de"} Andreas Maunz
      gives detailed instructions in his
      %a{:href => "http://www.maunz.de/wordpress/topics/opentox"} OpenTox blog
      ):
      %ul
        %li
          %a{:href => "http://opentox.org/dev/apis/api-1.2"} OpenTox REST interface
        %li
          %a{:href => "https://github.com/opentox/opentox-ruby"} opentox-ruby
          or
          %a{:href => "https://github.com/opentox/opentox-client"} opentox-client
          Ruby libraries.
          %a{:href => "https://github.com/opentox/opentox-client"} opentox-client
          is under development and will substitute
          %a{:href => "https://github.com/opentox/opentox-ruby"} opentox-ruby
        %li
          %a{:href => "http://ambit.sourceforge.net//download_otclient.html"} IDEAConsult
          or
          %a{:href => "https://github.com/alphaville/ToxOtis"} ToxOtis
          Java libraries
        %li
          %a{:href => "http://in-silico.ch"} in silico toxicology 
          offers model building as a paid service
      We will keep the ToxCreate interface available for documentation purposes, but
      %em strongly discourage
      its use, because the resulting models may perform less than optimal.
  %p
    You will need to upload training data that includes chemical structures and their measured toxicity values, in
    = link_to "Excel", '/help'
    ,
    = link_to "CSV", '/help'
    or
    = link_to "SDF", '/help'
    file formats to create a prediction model. Please read the 
    = link_to "instructions for creating training datasets", '/help'
    before submitting.


  %form{ :action => url_for('/models'), :method => "post", :enctype => "multipart/form-data" }
    %input{:type => 'hidden', :name => 'subjectid', :id => 'subjectid', :value => session[:subjectid]}
    %fieldset
      %label{:for => 'file'}
        Upload training data in
        = link_to "Excel", '/help'
        ,
        = link_to "CSV", '/help'
        or
        = link_to "SDF", '/help'
        format:
      %input{:type => 'file', :name => 'file', :id => 'file', :size => '41'}
      %br
      = haml :create_echa, :layout => false
    %br
    %input{ :type => "submit", :value => "Create model"}
    =# link_to "Cancel", '/create'

  -# %p
    -# or
    -# %a{:href => "echa"} Select a AMBIT dataset
    -# (experimental)

  -# explanations
  = haml :lazar_description, :layout => false
  = haml :classification, :layout => false
  = haml :regression, :layout => false
  = haml :endpoint, :layout => false
  = haml :unit, :layout => false

  %p
    This service creates and validates new
    %em= toggle_link("#classification","classification")
    and
    %em= toggle_link("#regression","regression")
    structure-activity models from your experimental data. The models can be used to predict toxicity of new chemicals (e.g. for 
    %a{:href => "http://ec.europa.eu/environment/chemicals/reach/reach_intro.htm", :rel => "external"} REACH
    purposes) and to reduce the need for animal testing.  The following methods are currently available:
  %ul
    %li
      = toggle_link("#lazar_description","lazar")
      %em= toggle_link("#classification","classification")
      models and
    %li
      = toggle_link("#lazar_description","lazar")
      %em= toggle_link("#regression","regression")
      models (experimental)
  %p
    Further modelling algorithms may be added in future versions.

  .login_notice
     
    - if  session[:username] == "guest"
      You are currently logged in as 
      %b guest
      and your models can be modified or deleted by other guests. Please
      = link_to "log in", "/login"
      with your
      %a{:href => "http://www.opentox.org", :rel => "external"} OpenTox
      account to control your model permissions.
