= link_to "Back to model creation", '/create'
%h2 Spreadsheets (Excel, CSV)
%p
  Input files have two columns. Enter in the first column the chemical structure in
  %a{:href => "http://en.wikipedia.org/wiki/Simplified_molecular_input_line_entry_specification", :rel => "external"} SMILES
  format, in the second column the toxic activity. The first line contains a description of the columns and is ignored.
%dl
  %dt Classification datasets 
  %dd Please use 1/0, active/inactive or true/false to indicate active/inactive compounds.
  %dt Regression datasets
  %dd
    Enter a quantitative value. For optimal performance you should
    %ul
      %li
        use
        %a{:href => "http://en.wikipedia.org/wiki/Molar_(concentration)", :rel => "external"} molar
        units
      %li enter non-logarithmic values (logarithms are taken internally)
      %li avoid 0 activities (will be ignored)
%p 
  Input files are accepted in 
  %a{:href => "http://en.wikipedia.org/wiki/Microsoft_Excel", :rel => "external"} Excel
  and
  %a{:href => "http://en.wikipedia.org/wiki/Comma-separated_values", :rel => "external"} CSV
  formats.

%h3 Excel example

- n = 0

.code
  %table
    %tr
      %td
      %th A
      %th B
    %tr
      - n += 1
      %th= n
      %td SMILES
      %td Hamster Carcinogenicity
    %tr
      - n += 1
      %th= n
      %td CC(=O)Nc1ccc(O)cc1
      %td 1  
    %tr
      - n += 1
      %th= n
      %td O=c1[nH]cnc2[nH]ncc12
      %td 1  
    %tr
      - n += 1
      %th= n
      %td CCCCNc1cc(cc(c1Oc2ccccc2)S(=O)(=O)N)C(=O)O
      %td 1  
    %tr
      - n += 1
      %th= n
      %td CC(C)(C)NCC(O)COc1cccc2NC(=O)CCc12
      %td 1  
    %tr
      - n += 1
      %th= n
      %td CN(C)CCCC1(OCc2cc(C#N)ccc21)c3ccc(F)cc3
      %td 1  
    %tr
      - n += 1
      %th= n
      %td CCC(CC)CCN1C(=O)CN=C(C2CCCCC2F)c3cc(Cl)ccc13
      %td 0 
    %tr
      - n += 1
      %th= n
      %td CCN(CC)CC(=O)Nc1c(C)cccc1C
      %td 0 
    %tr
      - n += 1
      %th= n
      %td CC(C)(C)NCC(O)COc1cccc2CC(O)C(O)Cc12
      %td 0 
    %tr
      - n += 1
      %th= n
      %td CN1CCCC1c2cccnc2
      %td 0 

%p
  Excel examples for download:
  %ul
    %li
      = link_to "hamster_carcinogenicity.xls", "/hamster_carcinogenicity.xls"
      (classification)
    %li
      = link_to "EPAFHM.xls", "/EPAFHM.xls"
      (regression)

%h3 CSV example

.code
  %pre
    :preserve
      SMILES, Hamster Carcinogenicity
      CC(=O)Nc1ccc(O)cc1, 1  
      O=c1[nH]cnc2[nH]ncc12, 1  
      CCCCNc1cc(cc(c1Oc2ccccc2)S(=O)(=O)N)C(=O)O, 1  
      CC(C)(C)NCC(O)COc1cccc2NC(=O)CCc12, 1  
      CN(C)CCCC1(OCc2cc(C#N)ccc21)c3ccc(F)cc3, 1  
      CCC(CC)CCN1C(=O)CN=C(C2CCCCC2F)c3cc(Cl)ccc13, 0 
      CCN(CC)CC(=O)Nc1c(C)cccc1C, 0 
      CC(C)(C)NCC(O)COc1cccc2CC(O)C(O)Cc12, 0 
      CN1CCCC1c2cccnc2, 0 

%p
  CSV examples for download:
  %ul
    %li
      = link_to "hamster_carcinogenicity.csv", "/hamster_carcinogenicity.csv"
      (classification)
    %li
      = link_to "EPAFHM.csv", "/EPAFHM.csv"
      (regression)

%p You can create CSV files in Excel: Create a sheet with two columns and export them as CSV file with the "Save As" option from the menu, selecting the CSV (comma delimited) format.

%h2 SDF

%p
  Currently ToxCreate supports 
  %a{:href => "http://en.wikipedia.org/wiki/Chemical_table_file#SDF", :rel => "external"} SDF
  files with a single data item as shown below (multiple data items will raise an error). You can also download an example SDF file:
  = link_to "hamster_carcinogenicity.sdf", "/hamster_carcinogenicity.sdf"

.code
  %pre
    -# keep empty lines -they are required by SDF
    :preserve
      
      
      
      
        6  6  0  0  0  0  0  0  0  0  1 V2000
          1.3304   -1.0738    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
          2.1104    0.0000    0.0000 N   0  0  0  0  0  0  0  0  0  0  0  0
          3.3767   -0.4086    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
          3.3767   -1.7390    0.0000 N   0  0  0  0  0  0  0  0  0  0  0  0
          2.1104   -2.1509    0.0000 N   0  0  0  0  0  0  0  0  0  0  0  0
          0.0000   -1.0738    0.0000 N   0  0  0  0  0  0  0  0  0  0  0  0
        1  2  1  0  0  0  0
        1  5  2  0  0  0  0
        1  6  1  0  0  0  0
        2  3  2  0  0  0  0
        3  4  1  0  0  0  0
        4  5  1  0  0  0  0
      M  END
      &gt;  &lt;ActivityOutcome_CPDBAS_Hamster&gt;
      inactive
      
      $$$$


