!!! 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title ToxCreate
    %script{:type => "text/javascript", :src  => "javascripts/jquery.js"}
    %script{:type => "text/javascript", :src  => "javascripts/toxcreate.js"}
    %script{:type => "text/javascript", :src  => "javascripts/jquery-ui-progressbar.js"}
    %link{:rel=>'stylesheet', :href=>'stylesheets/style.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'progressbar/progressbar.css', :type => "text/css"}      

  %body
    .logo
      %img{:src => "ToxCreate_rgb_72.png", :alt => 'ToxCreate', :align => 'right'}/
      %br
      Create and evaluate models to predict toxicity
    .index
      %ul
        %li{:class => ("selected" if /\/create|echa|ambit|feature/ =~ request.path )}
          = link_to "Create", "/create"
        %li{:class => ("selected" if /models/ =~ request.path )}
          = link_to "Inspect", "/models"
        %li{:class => ("selected" if /predict|lazar/ =~ request.path )}
          = link_to "Predict", "/predict"
        - if AA_SERVER
          %li{:class => ("selected" if /login/ =~ request.path )}
            = link_to "Login", "/login"
        %li{:class => ("selected" if /help/ =~ request.path )}
          = link_to "Help", "/help"

    .content
      .login_info
        User:
        %b= session[:username]

      - if `hostname`.match(/ot-test/)
        .notice 
          This service is for testing purposes only - once a week all models will be deleted. Please send bug reports and feature requests to our 
          %a{:href => 'http://github.com/opentox/toxcreate/issues', :rel => "external"} issue tracker.

      - if flash[:notice]
        %p
        .notice#flashnotice
          = flash[:notice]

      = yield

    .footer
      &copy;
      %a{:href => 'http://www.in-silico.ch', :rel => "external"} in silico toxicology
      2009-2011, powered by
      %a{:href => 'http://www.opentox.org', :rel => "external"} <span style="color:#5D308A;font-family:arial,sans-serif,helvetica;letter-spacing:-1px;">Open</span><span style="color:#000;font-family:arial,sans-serif,helvetica;font-weight:bold;letter-spacing:-1px;">Tox</span>
