!!! 
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title lazar (Lazy Structure Activity Relationships)
    %script{:type => "text/javascript", :src  => "javascripts/jquery.js"}
    %script{:type => "text/javascript", :src  => "javascripts/toxcreate.js"}
    %script{:type => "text/javascript", :src  => "javascripts/jquery-ui-progressbar.js"}
    %link{:rel=>'stylesheet', :href=>'stylesheets/style.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'progressbar/progressbar.css', :type => "text/css"}      

  %body
    .logo
      %h1= "Lazar Toxicity Predictions"
        
    .index
      %ul
        -#%li{:class => ("selected" if /\/create|echa|ambit|feature/ =~ request.path )}
          -#= link_to "Create", "/create"
        %li{:class => ("selected" if /predict|lazar/ =~ request.path )}
          = link_to "Input", "/predict"
        %li{:class => ("selected" if /models/ =~ request.path )}
          = link_to "Validation", "/models"       
        - if AA_SERVER
          %li{:class => ("selected" if /login/ =~ request.path )}
            = link_to "Login", "/login"
        -#%li{:class => ("selected" if /help/ =~ request.path )}
          -#= link_to "Documentation", "/help"
      %hr

    .content
      .login_info
        - if session[:username].size > 0
          User:
          %b= session[:username]

      - if `hostname`.match(/ot-test/)
        .notice 
          This service is for testing purposes only - once a week all models will be deleted. Please send bug reports and feature requests to our 
          %a{:href => 'http://github.com/opentox/toxcreate/issues', :rel => "external"} issue tracker.

      - if flash[:notice]
        %p
        .notice#flashnotice
          = flash[:notice]

      = yield

    .footer
      &copy; 
      %span{:style=> "font-style:italic"} in silico
      toxicology gmbh 2004-2011
      %a{:href => 'http://www.in-silico.ch', :rel => "external"}
