%p= link_to "New prediction", "/predict"
.lazar-predictions

  -# explanations
  = haml :lazar_algorithm, :layout => false
  = haml :confidence, :layout => false
  = haml :similarity, :layout => false
  -#= haml :significant_fragments, :layout => false
  = haml :pc_descriptors, :layout => false
  = haml :training_data, :layout => false

  %a{:name => "prediction"}
  %table
    %thead
      %tr
        %th= @prediction.title
        %th= toggle_link("#lazar_algorithm","Prediction")
        %th= toggle_link("#confidence","Confidence")
        %th Supporting information

      %tr
        %td.image= compound_image(@compound,@prediction.descriptors(@compound),@value_map)
        %td= {activity_markup(@prediction.value(@compound), @value_map), transform(@prediction.value(@compound), @compound.uri, @prediction.title, true)}
        %td= sprintf('%.03g', @prediction.confidence(@compound)) 
        %td
          %ul
            %li
              %a{:href => "#prediction", :id => "show_names"} Names and synonyms
              :javascript
                $("a#show_names").click(function () {
                  $("#compound_names").load("#{File.join("/compound",@compound.inchi)}");  
                  $("tr#names").toggle();  
                });
            -#%li= toggle_link("#fragments","Significant fragments")
            %li= toggle_link("#fragments","Physico chemical descriptors")

      %tr#names{ :style => "display: none;" }
        %td{:colspan => '4'}
          %a{:name => 'names'}
          = hide_link('#names')
          #compound_names
      %tr#fragments{ :style => "display: none;" }
        %td{:colspan => '4'}
          = hide_link('#fragments')
          = haml :feature_table, :locals => {:features => sort(@prediction.descriptors(@compound),@value_map)}, :layout => false

    %tbody#neighbors
      = haml :neighbors, :locals => {:neighbors => @prediction.neighbors(@compound), :page => @page},  :layout => false

