- js = "$('#edit_#{model.id}').editModel({id: '#{model.id}', mode: 'edit'});\n  "
- js += "$('#edit_#{model.id}_policy').editPolicy({id: '#{model.id}', mode: 'edit'});\n  "
:javascript
  $(function() {
    #{js}
  });
%h2
  = model.name 
  %span{:class => "edit_button"}      
    [
    %a{:href => url_for("/model/#{model.id}/name?mode=edit"), :id => "edit_#{model.id}"} edit name
    |
    %a{:href => url_for("/model/#{model.id}/name?mode=manage"), :id => "edit_#{model.id}_policy"} protect data
    ]
%div{:id => "model_#{model.id}_policy_edit"}      
