- js = "$('#edit_#{model.id}').editModel('PUT', {id: '#{model.id}', mode: 'edit'});\n  "
:javascript
  $(function() {
    #{js}
  });
%h2
  = model.name
  - if is_authorized(model.web_uri, "PUT")
    %span{:class => "edit_button"}      
      (
      %a{:href => url_for("/model/#{model.id}/name?mode=edit"), :id => "edit_#{model.id}"} edit
      )