- uri = url_for("/model/#{model.id}", :full)
- js = "$('#delete_#{model.id}').deleteModel('DELETE', {id: '#{model.id}'});\n  " + "$('#show_model_#{model.id}_warnings').toggleWarnings('#{model.id}');"
:javascript
  $(function() {
    #{js}
  });
  
%div{:id => "model_#{model.id}"}  
  %h2
    = model.name
  .model
    %dl
      %dt Status:
      %dd
        %span{:id => "model_#{model.id}_status", :class => "model_status"}
          = haml :model_status, :locals=>{:model=>model}, :layout => false
        - if is_authorized(model.web_uri, "DELETE")
          (
          %a{:href => url_for("/model/#{model.id}"), :id => "delete_#{model.id}", :class => 'delete'} 
            - if model.status == "Completed" 
              delete
            - else
              stop 
          )
      %dt Started:
      %dd= model.created_at.strftime("%m/%d/%Y - %I:%M:%S%p")
      - if model.nr_compounds
        %dt Training compounds:
        %dd= model.nr_compounds 
      - if model.error_messages
        %dt Errors:
        %dd= model.error_messages
      - if model.warnings
        %dt Warnings:
        %a{:href => "#", :id => "show_model_#{model.id}_warnings"} show
        %dd{:id => "model_#{model.id}_warnings", :style => "display: none;"}= model.warnings
      %dt Algorithm:
      %dd= toggle_link("#lazar_description","lazar")
      - if model.type
        %dt Type:
        %dd= toggle_link("##{model.type}","#{model.type}")
      %dt Descriptors:
      %dd
        %a{:href => 'http://www.maunz.de/libfminer2-bbrc-doc/'} Fminer backbone refinement classes
      - if model.training_dataset
        %dt Training dataset:
        %dd
          %a{:href => "#{model.training_dataset}.xls#{subjectstring}"} Excel sheet
          ,
          -#%a{:href => "#{model.training_dataset}.rdf"} RDF/XML
          -#%em (experts) ,
          %a{:href => "#{model.training_dataset}.yaml#{subjectstring}" } YAML
          %em  (experts)
      - if model.feature_dataset
        %dt Feature dataset:
        %dd
          -#%a{:href => "#{model.feature_dataset}.rdf"} RDF/XML
          -#,
          %a{:href => "#{model.feature_dataset}.xls#{subjectstring}"} Excel sheet
          ,
          %a{:href => "#{model.feature_dataset}.yaml#{subjectstring}"} YAML
          %em  (experts)
      - if model.uri
        %dt Model:
        %dd
          -#%a{:href => "#{model.uri}.rdf"} RDF/XML
          -#,
          - if model.validation_qmrf_uri
            %a{:href => File.join(model.validation_qmrf_uri,"editor")} QMRF Editor, 
          %a{:href => "#{model.uri}.yaml#{subjectstring}"} YAML
          %em  (experts, models cannot be represented in Excel)
      = haml :validation, :locals=>{:model=>model}, :layout => false     
